body {
    background-color: #ECECEC;
    /* background-color: #fff; */
    position: relative;

}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

.mobile-dropdown-button {
    border-radius: 0;
}

.bgmamei {
    background-color: #F27123 !important;
    border-color: #F27123 !important;
    color: #fff;
}

.bgazul {
    background: #5bc0de !important;
    border-color: #46b8da;
}

.dropdown-home-menu {
    width: 200% !important;
    max-height: calc(100vh - 150px);
    overflow: scroll;
}

.dropdown-menu-mi-pulga {
    left: -50% !important;
}


.opt-container {
    overflow-y: scroll !important;
    max-height: 100vh !important;
}
.category-trigger {
    border: unset !important;
    font-size: 15px !important;
    padding: 0 !important;
}

.nav-header {
    display: flex;
    justify-content: space-between;
}

.container-custom {
    width: 95%;
    margin: 0 auto;
}

.jumbotron {
    padding: 0rem 2rem;
}

.novisible {
    display:none !important;
}

/*header*/
#header {
    border-bottom: #15224F 1px solid;
    background-color: #fff;
    padding: .5em 0;
    position: sticky; 
    top: 0;
    z-index: 1000;
}

.site-logo {
    width: 150px;
}

.site-logo a img {
    display: block;
    width: 100%;
    height: auto;
}

.search-bar form input, .search-bar form button {
    padding: .5em;

}

.search-bar form {
    display: flex;
    justify-content: center;
}

.search-bar form input {
    width: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid #DDDFE2;
}


.search-bar form button {
    width: 70px;
    background-color: #109FDC;
    color: #fff;
    border: 1px solid #109FDC;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

a.nav-link {
    color: #000;
    font-size: 1em;
    font-weight: 600;
}

#menuBarra {
    padding: 0;
    max-width: 60%;
}

#menuBarra ul {
    justify-content: flex-end;
    width: 100%;
    padding: 0;
}
#klk_noti {
    display:none;
}
#publicarr {
    background-color: #FF6C00;

    border-radius: 5px;

}

#publicarr a {
    color: #fff;
}

/*top banner, listado y pie banner*/
.top-banner, .rst-banner {

    margin: 2em auto;
    text-align: center;
}
.mob-banner {
    
    margin: 0.1em 0.1em 0.7em 0.1em;
    text-align: center;
}

.top-banner *, .rst-banner *, .mob-banner * {

    display: block;
    margin: 0 auto;

}

/*728x90 ad*/
/* cintillo anterior usado se mantendra hasta ver si se quita por alert */
.cintillos-informativos {
    margin: 1em 0;
}

.top-ad-banner {
    flex: 0 1 60%;
}

.tienda {
    background-color: #fff;
    padding: 1em;
    border: 1px solid #DDDFE2;
    flex: 0 1 30%;
}

.tienda a div.ad-reciente-icon {
    flex: 0 1 20%;
}

#encuesta {
    position: fixed;
    bottom: 0;
    z-index: 1000;
    right: 0;
    width: 220px;
}
#encuesta .form-check {
    padding-top: 2px;
    padding-bottom: 2px;
}
.movil #encuesta {
	position:relative;
}

.tienda a div.ad-reciente-icon img {
    display: block;
    width: 100%;
    height: auto;
}

.tienda a div.ad-reciente-text {
    flex: 0 1 80%;
    font-size: 1.2rem;
    text-align: center;
}

/* fin cintillos */

/* brillo para imagenes */
/* .filtro-img { */
    /* filter: brightness(110%) grayscale(60%) saturate(2); */
/* } */

/*columns*/
.main-columns {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
    margin-bottom: 1em;
}

.left-column {
    flex: 0 25%;
    /*position: sticky;
    top: 13%;*/
    bottom: 0;
    padding: .6em;
    background-color: #fff;
}

.right-column {
    /* flex: 0 1 77%; */
    flex: 0 1 74%;
    padding: .6em;
    /* background-color: #fff; */
    background-color: #ECECEC;


}

.right-column, .card {
    /* border: 0px solid #DDDFE2;
    border-radius: 5px; */
    border: none;
}

/*info de los planes */
.infoplanes {
	list-style: none;
	padding-left: 10px;
}
.infousu {
    list-style-type: square;
    padding: 0.1em 0.1em;
    margin: .1em 1.4em;

}

.infousu li {
    margin-bottom: .5em;
    text-align: justify;


}

.infousu li b {
    font-weight: 500;
}

/*cards*/

.cards-header {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 1em;
}


.cards {
    margin-bottom: 1em;
    align-items: flex-start;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 1em;
}


.cards .card {
    overflow: hidden;
    align-self: stretch;
    background-color: #ECECEC;

    /*background-color: #fff;*/
}

/* numero de telefon listado planes */
.cards .card h4 a span {
    font-weight: normal;
    font-size: .7em;
}
.card-image-container:hover .card-image {
    transform: scale(1.1);
}

/* solo articulos y planes */
.card-image {
    overflow: hidden;
    margin-top: 0;
    max-height: 180px;
    border-radius: 8px;
    /*background-image: url("/cache/180/fotodefecto155.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;*/
    transition: all .3s ease;
    height: 180px;
}

.card-image img {
    display: block;
    width: 100%;
    border-radius: 8px;
    /* visibility: hidden; */
    height: 180px;
}

/* solo planes revisar esta igual */
/* .card-image img{
	display: block;
	width: 100%;
	height: 100%;
} */

/* centralizado campos en form ver desktop */
.card-body {
    padding: 1.25rem 1.25rem 1.25rem 2rem;
}
.card-mpa .card-body {
    padding-top:.25rem;
    padding-bottom:.25rem;
    padding-left:.5rem;
}
.card-mpa .card-body ul {
    padding-left:1rem;
}
.card-mpa .card-text {
     margin-bottom: 0rem;
}
.ddcard-mpa .btn-group a {
    margin-right: 15px;
    padding-right: 20px;
    padding-left: 20px;
}

.card-tag, .card-mpa-tag {
    float: right;
    position: absolute;
    right: 1px;
    top: 0px;
    padding: .0em .3em .1em;
    color: #FFFFFF;
    font-size: .7em;
    font-weight: 600;
    border-radius: 0px 0px 0px 10px;
}

.tag-I, .tag-I::after {
    content: "Inmobiliaria";
    background-color: #28a745;
}

.tag-D, .tag-D::after {
    content: "Dealer";
    background-color: #007bff;
}

.tag-T, .tag-T::after {
    content: "Tienda Virtual";
    background-color: #ffc107;
}

.tag-mpa {
    background-color: #000;
}

/* publicacion vendida cintillo */
.card-tagv, .card-mpa-tagv {
    position: absolute;
    right: 1px;
    top: 0px;
    padding: 0.5rem .5rem;
    color: #FFFFFF;
    font-size: 1em;
    font-weight: 600;
    border-radius: 0px 0px 0px 15px;
}

.tag-V, .tag-V::after {
    content: "V E N D I D O";
    background-color: #ffc107;
    color: #423737;
}
.tag-VD {
    font-size:3em;
}

.card-link {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    position: relative;
    height: 100%;

}

/* nuevo para cardsplanes */
.card-title, .cardp-title {
    /*padding: .5em;*/
    margin: 0;
    /* height: 18%; */
    height: auto;
    overflow: hidden;
}

/* nuevo estilo para los cards con h2 3 y 4 */
.card-title .title h2, .cardp-title .title h2 {
    margin-top: 5px;
    font-weight: 600;
    font-size: 1em;
    color: #000;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.card-title .title h3, .cardp-title .title h3 {
    font-weight: normal;
    font-size: .9em;
    color: #000;

    height: 35px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;

}

.card-title .title h4 {
    font-weight: normal;
    font-size: .8em;
    color: #000;
}

.card-subtitle {
    padding: .5em;
    margin: 0;
    height: 10%;
    overflow: hidden;
}

.card-subtitle .subtitle {
    font-weight: 450;
    font-size: .8em;
    color: #000;

}

.card-footer {
    background-color: #fff;
    padding: 0.99em .6em;
    overflow: all;
    height: 15%;
}

/* articulos mipulga posiblemente removidos */

.card-mpa-title {
    padding: .2em;
    margin: 0;
    height: 10%;
    overflow: hidden;
}

.card-mpa-title .title h2 {
    font-weight: 600;
    font-size: .9em;
    color: #000;
}

.card-mpa-subtitle {
    padding: .2em;
    margin: 0;
    height: 32%;
    overflow: auto;
}

.card-mpa-subtitle ul {
    list-style-type: none;
    padding: .1em;
    margin: 0;
}

.card-mpa-subtitle ul b {
    font-weight: 550;
}

.card-mpa-link {
    display: block;
    position: relative;
    height: 43%;
    overflow: hidden;
}

.card-mpa-image {
    overflow: hidden;
    margin-top: 0;
}

.card-mpa-image img {
    display: block;
    width: 100%;
    height: 100%;
}

.card-mpa .card-img {
    max-height: 287px;
    object-fit: contain;
}
.agregar .btn{
    display: none !important;
}

.add-new-photo {
    border: 4px dashed rgb(200, 191, 191);
    height: 78px;
    width: 78px;
    padding: 10px;
    font-size: 50px;
    color: rgb(218, 211, 211);
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    -moz-transition: 0.3s all ease;
    -ms-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
}

#madmfotos .modal-dialog span {
    text-align: center;
}

@media (min-width: 576px) {
    #madmfotos .modal-dialog {
        max-width: 45% !important;
    }
    #madmfotos .modal-footer ul{
        display: flex;
        margin: 0px 5px;
    }
    #madmfotos .modal-footer ul li {
        margin: 0px 15px !important;
    }
}

.modal-footer ul {
    list-style: none;
    margin-right: 15px !important;
    padding: 0px 3px 0px 0px;
    margin: 0px 0px 0px -10px;
}

/*stylos para el admin mi pulga*/
.fotos {
	position: relative;
	display: block;
	width: 100%;
    white-space: nowrap;
	overflow: auto;
}

.elimfoto {
	position: absolute !important;
	align-self: flex-end;
	justify-content: center !important;
	width: 20px !important;
	height: 20px !important;	
	color: #efefef;
	top:10px;
	z-index: 999;
	right: 0px;
    border-radius: 50px;
    background: crimson;
}

.miniaturas .btn-sm {
    font-size: .7rem !important;
}

.miniaturas a {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100px;
}
.miniaturas img {
	width: 85px;
	height: 83px;
	max-width: 85px;
	max-height: 83px;
	object-fit: cover;	
}
.miniaturas img.addmoreft {
	align-self: flex-start;
	max-height: 100%;
}




/* fin mi pulga  */

.card-footer i {
    color: #c6c6c6;;
    margin-right: .2em;
}

.card-footer i:hover {
    color: #000;
}


.favorite, .fa-comments, .price {
    color: #B5B6BA;
}

.price {

    float: right;
    font-weight: 700;
    color: #555555;
    font-size: 1.1em;

}


.tvermas {

    float: right;
    font-weight: 400;
    color: #555555;
    font-size: .9em;

}

/* boton cargar mas cambiado de publicaciones-reciente*/
.cargar-mas {

    width: 40%;
    margin: 2em auto;
}

.cargar-mas i {

    margin-right: 1em;
}

.cargar-mas a {
    display: block;

    border-radius: 5px;
    background-color: #1791D5;
    font-size: 1.2em;
    padding: .3em 0;
    color: #fff;
    text-align: center;
}

.cargar-mas a:hover {
    text-decoration: none;
    background-color: #33A3DD;
}
/* botones con side bar para movil */
#boton1 .dropdown-item, #boton2 .dropdown-item {
padding: 0.25rem 1rem;
}
/* fin */
/*side-bar*/
.showhidecategories {
    display: none;
    padding: .2em .5em;
    border-radius: 5px;
}

.side-bar-title {
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: .5em;
}

.categories-list {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.categories-list li {
    flex: 0 1 100%;
    width: 100%;
}

.side-bar-item a, .infousu a {
    display: block;
    color: rgba(0, 0, 0, 0.7);
    padding: .5em;
}

.side-bar-item i {
    margin-right: .5em;
}

.side-bar-item a:hover, .infousu a:hover {
    border: 1px solid #DDDFE2;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .6);
}

.side-bar-ad {
    width: 100%;
    text-align: center;
    margin-bottom: 1em;
}
.btn-redes {
    vertical-align: middle;
}

/*footer*/
footer {
    background-color: #fff;
    border-top: 1px solid #DDDFE2;
    padding: 2em 0 2em;
}

.footer-title {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: .5em;
    padding-left: 1.5em;
    text-transform: uppercase;
    border-left: 5px solid #EA5644;
}

.footer-columns .copyright-text {
    flex: 0 1 35%;
}

.footer-columns .social-links {
    flex: 0 1 15%;
}

.redes-icons li a {
    color: #337AB7;
}
.redes-icons ul {
    width: 20%;
    text-align:center;
}
.fa-google {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
  }

  .fa-facebook-square {
    color: #3b5998;
    background-image: linear-gradient( to bottom, transparent 20%, white 20%, white 93%, transparent 93% );
    background-size: 55%;
    background-position: 70% 0;
    background-repeat: no-repeat;
  }

.copyright, .realizado {
    text-align: center;
}

#cookieGuardMsg {
    width: 95%;
    margin: 0 auto;    
    bottom: 5px;
    position: sticky;
    border-top: 3px solid #DDDFE2;
    border-radius: 5px;
}

#cookieGuardMsgInner {

    text-align: center;
}


.resaltada {
    border: solid 4px #ffc107;
    background-color: #ffc107 !important;
}

.ir-arriba {
    display:none;
    padding:8px 15px 8px 15px;
    background-color: #079ad8;
    font-size:25px;
    color:#fff;
    cursor:pointer;
    position: fixed;
    bottom:20px;
    right:10px;
    border-radius: 5px;
}

.bloquesinf h3 {
    font-size: 1.2em;
}
.bloquesinf {
    background-color: #fff;
    padding:20px;
}
@keyframes crece {
	0% {
		opacity:0;
		z-index: 999;
		transform: scale(0);
		display: inline-block;
	} 75% {
		transform: scale(1.2);
		display: inline-block;
	} 100% {
		z-index: 0;
		transform: scale(1);
		display: inline-block;
		opacity:1;
	}
}
@keyframes descrece {
	0% {
		opacity:1;
		z-index: 999;
		transform: scale(1);
	} 75% {
		transform: scale(0.2);
	} 100% {
		z-index: 0;
		transform: scale(0);
		display: none;
		height: 0px;
		opacity:0;
	} 
}
.descrece {
	animation-name: descrece;
	animation-duration:.5s;
	animation-fill-mode: forwards;
}
.crece {
	animation-name: crece;
	animation-duration:.5s;
	animation-fill-mode: forwards;
}
@media screen and (min-width: 2200px) {
    .card-image {
        min-height: 400px;
    }
}

@media screen and (max-width: 1080px) {

    .top-banner {
        display: none;
    }

    .navbar-toggler {
        right: 0;
    }

    .cards {
        grid-template-columns: 1fr 1fr 1fr;
    }

    a.nav-link {
        font-size: 0.8em;
    }

}

@media screen and (max-width: 990px) {
    #header {
        position: relative;
    }
    a.nav-link {
        font-size: 1.1rem;
    }    
    .navbar-nav {
        text-align: center;
    }
    #menuBarra {
        max-width: 100%;
    }    
    #menuBarra ul {
        padding: 10px;
    }   
    .dropdown-menu {
        border:none;
        transform: translate3d(0px, 32px, 0px) !important;
    }    
    #publicarr {
        text-align: center;
        margin-top: 20px;
    }
    .tag-VD {
        font-size: 1em;
    }     
}

@media screen and (max-width: 760px) {
    .cards {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }

    footer .footer-columns .social-links ul {
        width: 200px;
        margin-top: 30px;
    }
    .left-column {
        display: none !important;
    }

}

@media screen and (max-width: 680px) {
    
    .cards {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .card-title .title h3, .cardp-title .title h3 {
        font-weight: normal;
        font-size: .9em;
        color: #000;
    }

    .right-column {
        flex: 0 1 100%;
    }

    .right-column h2.cards-header {
        font-size: 1rem;
    }

    .search-bar {
        width: 100%;
        margin: .5em 0;
        padding: 0;
    }
}
/* resto moviles */ 
@media screen and (max-width: 575px) {
    .search-bar form {
        margin-top: 15px;
    }

    .search-bar {
        order: 3;
    }
    .card-mpa .card-body {
        padding-left:.25rem;
    }
    .card-body {
        padding: 1.25rem;
    }
   


}
